[%- FOREACH pair IN CCM.contents.pairs %]
[%-    option = pair.key.replace('-', ' ') %]
[%-    IF CCM.is_scalar(pair.value) %]
[%         option %] = [%- -%]
[%-        IF pair.value.is_boolean -%]
[%             pair.value ? "yes" : "no" %]
[%-        ELSE -%]
[%             pair.value %]
[%-        END -%]
[%-    ELSIF CCM.is_list(pair.value) -%]
[%-        FOREACH item IN pair.value %]
[%             option %] = [% item %]
[%-        END %]
[%-    END -%]
[%- END -%]
