[%- INCLUDE "metaconfig/logstash/5.0/config/type.tt" type="boolean" names=["remap","strip_leading_underscore"] -%]
[%- INCLUDE "metaconfig/logstash/5.0/config/type.tt" type="extact" names=['port'] -%]
[%- INCLUDE "metaconfig/logstash/5.0/config/type.tt" type="string" names=['host'] -%]
